.category-item {
    margin: 8px auto;
}

.category-item > .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category-item > .header > .title {
    font-size: 1.4rem;
    margin-left: 4px;
    font-weight: 600;
}

.category-item > .header > .actionbutton {
    margin-right: 12px;
    font-size: 1.6rem;
}

.category-item > .content {
    margin-left: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
}

/* Styles use only for product this page */
.product-item {
    width: 180px;
}