.product-item .image {
    width: 100%;
    margin: 6px auto;
    display: block;
    border-radius: 6px;
}

.product-item {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .3);
    margin: 4px 6px;
    padding: 8px 12px;
    border-radius: 14px;

    height: 250px;
}

.product-item .content {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-item .content .title {
    font-size: 105%;
}

.product-item .content .price {
    align-self: flex-end;
    justify-self: flex-end;
    font-size: 105%;
}

.product-item button {
    width: 100%;
    text-align: center;
    background-color: #5ee2ff;
    border-radius: 8px;
    padding: 4px 8px;
    color: #292929;
    margin: 10px auto 6px;
    justify-content: flex-end;
}